.clear {
  height: 4em;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #000046;
  color: whitesmoke;
  outline: 1px solid #00007c;
  font-variant: small-caps;
  font-size: 1.2em;
  padding: 0.5em;
}
